################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/.vs/test/v16
/test/test/obj
/test/test/bin
